.welcome-image {
    width: 80%;
    height: auto;
    margin: auto;
}

.navbar-item:hover {
    background-color: #292b2c;
}

.body {
    margin-top: 60px;
}

.action-button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.action-button {
    border-radius: 10px;
}

.button-icon {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

.category-header {
    background-color: #292b2c;
    color: white;
    font-size: 1.1rem;
    border: none;
}

.item-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1rem;
    text-align: center;
}

.incremenent-buttons-counter {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 5px;
}

.increment-buttons-container {
    display: flex;
    flex-direction: column;
}

.increment-buttons {
    font-size: 14px;
    padding: 0px 5px 1px 5px;
    margin: 1px 10px;
}

.item-count {
    border: 1px solid black;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.remove-found-button {
    margin-left: 5px;
}

.recipe-row {
    display: flex;
}

.modal-title {
    font-size: 1.4rem;
}

.recipe-header {
    padding: 8px 0px;
    border: none;
    background-color: #292b2c; 
}

.recipe-title {
    background-color: #292b2c;
    color: white;
    font-size: 1.2rem;
    border: none;
}

.recipe-link {
    color: white;
    text-decoration: none;
    display: block;
}

.recipe-link:hover {
    color: #BBBBBB;
}

.ingredient-category-div {
    text-decoration: italic;
    color: grey;
}

.inline {
    display: inline;
}

.found {
    background-color: lightgrey;
}

.not-found {
    background-color: white;
}

.visible {
    display: block;
}

.hidden {
    display: none;
}

.flex-center {
    display: flex;
    justify-content: center;
}