:root {
    --primary: #292b2c;
    --darkgrey: #4A4C4D;
    --lightgrey: #DDDDDD;
    --category: #004aff;
    --secondary: #96ddff;
    --background: #fad291;
}

html, body, #root, .App {
    height: 100%;
}

body {
    background-color: var(--background);
    display: flex;
    align-content: center;
    justify-content: center;
}

.app-body {
    display: inline-block;
    padding: 10px;
    margin: 70px 10px 20px 10px;
    background-color: white;
    box-shadow: 10px 10px 10px #777777;
    border-radius: 10px;
}

.welcome-div {
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: none;
}

.welcome-title {
    display: block;
    font-style: italic;
    margin-bottom: 10px;
    font-size: 35px;
    font-weight: 900;
}

.welcome-image-div {
    width: 350px;
    height: 350px;
}

.welcome-text-div {
    margin-top: 80px;
    margin-left: 60px;
    width: 350px;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
}

.welcome-image {
    width: 100%;
    background-size: contain;
    border: thick solid black;
    border-radius: 50%;
    background-color: white;
}

@media screen and (max-width: 850px) {
    .welcome-div {
        flex-wrap: wrap;
        align-content: start;
    }
    .welcome-image-div {
        width: 300px;
        height: 300px;
        margin-left: 0px;
        margin-right: 0px;
    }
    .welcome-text-div {
        margin-top: 50px;
        margin-left: 0;
        margin-right: 0;
    }
  }

.navbar-item:hover {
    background-color: var(--primary);
}

.action-button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.action-button {
    border-radius: 10px;
}

.button-icon {
    width: 25px;
    height: 25px;
}

.category-header {
    background-color: var(--primary);
    color: white;
    font-size: 1.1rem;
    border: none;
}

.item-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1rem;
    text-align: center;
}

.incremenent-buttons-counter {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 5px;
}

.increment-buttons-container {
    display: flex;
    flex-direction: column;
}

.increment-buttons {
    font-size: 14px;
    padding: 0px 5px 1px 5px;
    margin: 1px 10px;
}

.item-count {
    background-color: var(--darkgrey);
    color: white;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.ingredient-count {
    background-color: var(--darkgrey);
    color: white;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.remove-found-button {
    margin-left: 5px;
}

.recipe-row {
    display: flex;
}

.modal-title {
    font-size: 1.4rem;
}

.recipe-header {
    padding: 8px 0px;
    border: none;
    background-color: var(--primary); 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    color: white;
    font-size: 1.4rem;
    font-family: Georgia, Times, "Times New Roman"
}

.recipe-link {
    background-color: var(--background);
    color: var(--darkgrey);
}

.recipe-link:hover {
    color: #BBBBBB;
}

.recipe-title {
    vertical-align: middle;
}

.recipe-header-buttons {
    text-align: right;
}

@media screen and (max-width: 768px) {
    .recipe-header {
        text-align: center;
        line-height: 1.4rem;
    }
    .recipe-title-div {
        margin-bottom: 10px;
    }
    .recipe-header-buttons {
        text-align: center;
    }
}

.ingredient-category-div {
    text-decoration: italic;
    color: #666666;
}

.inline {
    display: inline;
}

.found {
    background: linear-gradient(45deg, rgb(175, 116, 116), var(--lightgrey));
    border: thin solid var(--lightgrey);
}

.item-default {
    background: linear-gradient(45deg, var(--lightgrey), white);
    border: thin solid var(--lightgrey);
}

.ingredient-default {
    background: linear-gradient(45deg, var(--lightgrey), white);
    border: thin solid var(--lightgrey)
}

.visible {
    display: block;
}

.hidden {
    display: none;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.inline {
    display: inline;
}