.navbar-item:hover {
    background-color: #292b2c;
}

.category-header {
    background-color: #292b2c;
    color: white;
    font-size: 1.1rem;
}

.item-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1rem;
    text-align: center;
}

.incremenent-buttons-counter {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 5px;
}

.increment-buttons-container {
    display: flex;
    flex-direction: column;
}

.increment-buttons {
    font-size: 14px;
    padding: 0px 5px 1px 5px;
    margin: 1px 10px;
}

.item-count {
    border: 1px solid black;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.found-rem {
    width: 40px;
    height: 40px;
    margin-left: 5px;
}

.found {
    background-color: lightgrey;
}

.not-found {
    background-color: white;
}

.visible {
    display: block;
}

.hidden {
    display: none;
}